---
layout: default
---


</style>

<div class="appInfo" style="display: flex; align-items: center;">
    <div class="appIconShadow">
        <img width="100" class="appIconLarge" src="https://oss.douwantech.com/assets/images/aiwallpaper.png">
    </div>
    <div class="appNamePriceContainer">
        <h1 style="padding-left: 20px;" class="appName">AI密码视频管家</h1>
    </div>
</div>

<div class="appDescriptionContainer clearfix " >
    <p class="appDescription" style="padding-top: 20px;">
       密码视频管家：是一款本地保存视频和照片的app
    </p >
    <br />
    <p class="appDescription" style="padding-top: 20px; float:left;margin-right: 75px;">
    【功能区】
    <br />
    照片：本地保存海量私人照片
    <br />
    视频：您的私人视频库
    <br />
    联系人：添加你的私密联系人
    </p >
    <br />
    <img src="/assets/bglist.png" alt="">
</div>








